<h1 class="page-title">Farming Valley</h1>

<p class="page-description">Выберите таблицу для редактирования</p>

<div class="table-links">
  <%= link_to 'Угодья', lands_path, class: 'btn btn-primary' %>
  <%= link_to 'Растения', plants_path, class: 'btn btn-success' %>
  <%= link_to 'Работники', workers_path, class: 'btn btn-warning' %>
</div>
