<h1>Main Page</h1>

<p>Welcome to the management system! Choose a section to proceed:</p>

<div>
  <%= link_to 'Manage Lands', lands_path, class: 'btn btn-primary' %>
</div>
<div>
  <%= link_to 'Manage Plants', plants_path, class: 'btn btn-success' %>
</div>
<div>
  <%= link_to 'Manage Workers', workers_path, class: 'btn btn-warning' %>
</div>
